@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

:root {
  --col-size: calc(100% / 12);
}

body {
  display: flex;
  flex-direction: column;
}

.hovered:hover {
  opacity: 0.7;
}

.col-1 {
  width: var(--col-size);
}
.col-2 {
  width: calc(var(--col-size) * 2);
}
.col-3 {
  width: calc(var(--col-size) * 3);
}
.col-4 {
  width: calc(var(--col-size) * 4);
}
.col-5 {
  width: calc(var(--col-size) * 5);
}
.col-6 {
  width: calc(var(--col-size) * 6);
}
.col-7 {
  width: calc(var(--col-size) * 7);
}
.col-8 {
  width: calc(var(--col-size) * 8);
}
.col-9 {
  width: calc(var(--col-size) * 9);
}
.col-10 {
  width: calc(var(--col-size) * 10);
}
.col-11 {
  width: calc(var(--col-size) * 11);
}
.col-12 {
  width: calc(var(--col-size) * 12);
}

/*_____________________TOP-SECTION___________________________*/

.top-section {
  background-image: url(../images/Top-section-castelmezzano.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding-bottom: 120px;
  order: 1;
}

.top-frame {
  padding: 50px 0 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.top-group {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: right;
}

.top-option1:after,
.top-option2:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 4px solid #f5bd41;
  transition: width 0.5s;
}

.top-option1:hover::after,
.top-option2:hover::after {
  width: 85%;
}

.top-option2 {
  margin-right: 24px;
}

.top-option2,
.top-option1 {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.top-option2,
.top-option1,
.top-logo {
  padding-bottom: 10px;
}

.top-logo,
.top-account,
.google-play,
.app-store {
  height: 50px;
}

.top-logo {
  width: 205px;
  height: 40px;
}

.top-night {
  width: 32px;
  height: 40px;
  margin-bottom: 8px;
}

.top-account {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  fill: #ffffff;
}

.google-play,
.app-store {
  width: 135px;
}

.google-play {
  margin-top: -4px;
}

.top-sing-out {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 195px;
  height: 50px;
  background: #ffffff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  visibility: hidden;
}

.top-title {
  padding: 106px 0 100px;
  font-size: 50px;
  font-weight: 500;
}

.top-search-titles {
  font-size: 18px;
  display: flex;
  padding: 0 25px 25px 25px;
}

.search-destin {
  width: 40%;
}

.search-destin,
.search-check {
  font-size: 18px;
}

.top-search-inputs {
  height: 65px;
  margin: auto;
  display: flex;
  gap: 0;
  background: #ffffff;
  border-radius: 8px;
  padding-left: 8px;
}

.top-search-inputs input {
  border: none;
  font-size: 18px;
}

.destination {
  width: 38%;
  padding-left: 15px;
}

.date {
  width: 21%;
  border-radius: 8px;
  border: 3px solid #d2a70b;
}

.people {
  width: 25%;
  border: none;
}

.but {
  text-align: center;
  background: #ffffff;
  font-size: 18px;
}

.top-search-button {
  width: 16%;
  border: none;
  border-radius: 8px;
  background: #3077c6;
  color: #ffffff;
  font-size: 24px;
}

.top-search-button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.top-apps {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 120px;
}

.top__menu {
  display: none;
}

.top-search-frame-adaptive {
  display: none;
}

/*_______________________WHAT DO WE OFFER SECTION________________*/

.advantages {
  color: #383838;
  font-size: 24px;
  padding: 120px 0;
  order: 2;
}

.container {
  padding: 0 16px;
  max-width: 1230px;
  margin: auto;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.title-text {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}

.title:hover {
  opacity: 0.8;
}

.title-text:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 4px solid #f5bd41;
  transition: width 0.5s;
}

.title-text:hover::after {
  width: 35%;
}

.flex-container {
  display: flex;
  gap: 10px;
  line-height: 1;
  margin: 80px auto 0;
}

.element:hover {
  background: #eaf0f9;
}

.text {
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto auto 50px;
}

/*______________________HOMES_GUESTS_LOVES_________________________*/

.homes {
  padding: 120px 0;
  background: #eaf0f9;
  font-family: "Roboto", sans-serif;
  order: 3;
}

.places__flex-container {
  display: flex;
  gap: 1.5%;
  margin: 100px auto 0;
  position: relative;
}

.places__arrow {
  display: block;
  position: absolute;
  top: 40%;
  z-index: 4;
  left: calc(100% - 25px);
  transform: translate(0%, -50%);
  max-width: 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 5px 5px #8a8181;
  transition: box-shadow 0.2s;
}

.places__arrow:active {
  box-shadow: 1px 1px 1px #8a8989;
}

.places__arrow img {
  width: 40%;
  height: 40%;
}

.places__label {
  color: #3077c6;
  padding: 24px 0;
}

.homes__destination {
  color: #bfbfbf;
}

.places__image {
  width: 100%;
  height: auto;
}

/*______________________BEST_DESTINATIONS___________________________*/

.best-destinations {
  padding: 120px 0 128px 0;
  order: 4;
}

.best-dest__flex-container {
  margin-top: 65px;
}

.rotate-arrow {
  transform: rotate(90deg);
  top: 100%;
  left: calc(50% - 25px);
  box-shadow: 5px 0 5px #8a8181;
}

.places__image-element {
  position: relative;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.layer:hover {
  opacity: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #383838;
  opacity: 0.7;
}
.booking {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #3077c6;
  border: 1px solid #3077c6;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  z-index: 4;
}
.booking:hover {
  font-size: 24px;
  transition: 0.5s;
}

.best-dest__places {
  width: 50%;
  display: flex;
  gap: 0;
  margin-top: 105px;
  background: #f3f3f4;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.best-dest__button {
  width: 33%;
  height: 64px;
  border: none;
  border-radius: 8px;
  background: #f3f3f4;
  font-size: 24px;
}

.best-dest__button:active {
  background: #3077c6;
  color: #fff;
}

.best-dest__button-checked {
  background: #3077c6;
  color: #fff;
}

/*__________________________SING-UP_______________________________*/

.sign-up {
  order: 5;
}

.sign-up__container {
  display: flex;
  justify-content: space-between;
  background: #eaf0f9;
  height: 200px;
  padding: 16px;
}

.user-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.user-description {
  margin: 0 24px;
  font-family: "Roboto", sans-serif;
}

.user-description h5 {
  font-weight: 500;
  font-size: 24px;
  color: #383838;
  margin: 0 0 20px;
}

.user-button {
  width: 128px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  font-size: 18px;
  color: #3077c6;
  transition: border-radius 0.5s, font-size 0.5s, border 0.5s;
}

.user-button:before {
  content: "Sign up";
}

.user-button:hover {
  opacity: 0.7;
}

.user-image {
  width: 86px;
  height: 86px;
}

.sign-up__close {
  width: 26px;
  height: 26px;
  border: none;
  position: relative;
  background: #eaf0f9;
}

.sign-up__close:before {
  position: absolute;
  right: 12%;
  content: "";
  width: 32px;
  height: 2px;
  transform: rotate(45deg);
  background: #bfbfbf;
}
.sign-up__close:after {
  position: absolute;
  right: 12%;
  content: "";
  width: 32px;
  height: 2px;
  transform: rotate(-45deg);
  background: #bfbfbf;
}

/*____________________GUESTS_REVIEWS_________________________*/

.reviews {
  order: 6;
  padding: 120px 0;
  font-family: "Roboto", sans-serif;
}

.adaptive-title-text {
  display: none;
}

.reviews__element {
  display: flex;
  flex-direction: column;
  background: #eaf0f9;
}

.places__inner-flex-container {
  display: flex;
  gap: 1.5%;
  justify-content: space-between;
  position: relative;
}

.reviews__image-part {
  position: relative;
  top: 5px;
}

.reviews__image {
  width: 100%;
}

.rewiews__cost-span {
  margin: 15px 24px;
  font-weight: 400;
}

.rewiews__cost-span,
.reviews__inner-span {
  font-size: 18px;
  color: #fff;
  position: relative;
  z-index: 4;
}
.reviews__inner-span {
  font-weight: 500;
}

.reviews__cost-layer {
  position: absolute;
  width: 100%;
  height: 48px;
  top: calc(100% - 52px);
}

.reviews__info-part {
  background: #eaf0f9;
  margin: 0;
  padding: 24px;
}

.reviews__hostel {
  color: #3077c6;
}

.reviews__hostel-name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 14px;
}

.reviews__hostel-location {
  font-weight: 400;
  font-size: 18px;
}

.reviews__destination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.reviews__score {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.reviews__score-p {
  font-size: 14px;
  color: #bfbfbf;
}

.reviews__score-num {
  width: 48px;
  height: 32px;
  color: #fff;
  background: #10367c;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  padding: 4px 0;
}

.reviews-account {
  width: 54px;
  height: 54px;
  fill: #bfbfbf;
}

.user-name {
  font-size: 18px;
}

.reviews__user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
}

.user-location,
.reviews__user {
  display: flex;
}

.reviews__user {
  margin: 24px 0;
}

.user-location p {
  font-size: 18px;
  color: #8a8989;
  padding-left: 4px;
}

.reviews__flag {
  width: 16px;
}

.reviews__review p {
  font-size: 18px;
}

.reviews__places_arrow {
  top: 25%;
}

.dots {
  display: none;
}

.flex_dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 32px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #333333;
}

.active-dot {
  background: #333333;
}

.places__flex-container-reviews {
  flex-direction: column;
}

/*______________________________FOOTER____________________________*/

.footer {
  padding: 120px 0;
  background: #10367c;
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
  font-style: normal;
  order: 7;
}

.foot-groups {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.foot-title {
  font-weight: 500;
}

.foot-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  list-style: none;
}

.foot-list a {
  text-decoration: none;
  color: #ffffff;
  padding: 24px 0 0;
}

.foot-list a:hover {
  opacity: 0.7;
}

.foot-text {
  margin: auto;
  font-weight: 400;
  font-size: 14px;
}

.foot-logo-respons {
  display: none;
}

/*____________________________ADAPTIVE_______________________*/

@media screen and (max-width: 1020px) {
  /*_______________TOP-SECTION_____________________*/
  .top-option1,
  .top-option2 {
    display: none;
  }
  .top-sing-out {
    display: none;
  }
  .top__menu {
    display: block;
    content: "";
    width: 40px;
    height: 4px;
    position: relative;
    background: #ffffff;
    margin-bottom: 8px;
  }
  .top__menu:before {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    top: -10px;
    background: #ffffff;
  }
  .top__menu:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    top: 10px;
    background: #ffffff;
  }
  .top-apps {
    padding-top: 40px;
  }
}

@media screen and (max-width: 840px) {
  /*_______________TOP-SECTION_____________________*/
  .top-title {
    padding: 60px 0 30px;
    font-size: 40px;
  }

  .top-section {
    background-size: cover;
  }

  .top-logo {
    width: 160px;
  }

  .top-frame {
    margin: 0;
  }

  .top-frame-element {
    min-height: 48px;
  }
  .top-search-frame {
    display: none;
  }

  .top-night {
    width: 24px;
  }
  .top-account {
    width: 32px;
  }

  .top-search-frame-adaptive {
    display: block;
    background: #f5bd41;
    width: 100%;
    padding: 8px;
    font-family: "Roboto", sans-serif;
  }
  .top__destination,
  .top__amount {
    width: 100%;
    display: flex;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .top__destination {
    justify-content: space-around;
  }
  .top__destination-input {
    width: 95%;
  }
  .top__dates {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
  }
  .top__check-in,
  .top__check-out {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #ffffff;
    border-radius: 4px;
    padding: 4px;
  }
  .top__date-button {
    border: none;
    background: #ffffff;
    text-align: start;
  }
  .top__check {
    color: #383838;
  }
  .top__amount {
    padding: 8px;
  }
  .top__amount-element {
    width: 33.3333%;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
  }
  .top__amount-label {
    color: #383838;
  }
  .top__amount2 {
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
  }

  .top__amount-input,
  .top__destination-input {
    border: none;
  }

  .top__search {
    background: #3077c6;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #ffffff;
  }

  .medium-font {
    font-size: 15px;
    font-weight: 500;
  }
  .small-font {
    font-size: 12px;
    font-weight: 400;
  }

  /*__________________HOMES__________________*/

  .places__flex-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .places__element {
    width: 48%;
  }

  .hidden {
    display: none;
  }

  /*_______________BEST_DESTINATIONS______________ */
  .rotate-arrow {
    transform: rotate(-360deg);
    top: 40%;
    left: calc(100% - 25px);
    box-shadow: 1px 5px 5px #8a8181;
  }

  .best-destinations {
    padding: 40px 0;
  }

  .best-dest__span {
    display: none;
  }

  .best-dest__places {
    width: 100%;
    gap: 16px;
    background: #fff;
    margin-top: 32px;
  }

  .best-dest__button {
    background: #fff;
  }
  .best-dest__button-checked {
    background: #3077c6;
    color: #fff;
  }

  /* ___________________SIGN-UP______________________*/
  .sign-up__container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background: #fff;
  }
  .user-container {
    justify-content: space-between;
  }
  .user-description {
    width: 70%;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .user-description h5 {
    max-width: 80%;
  }

  .user-container picture {
    padding: 0 4px;
  }

  .sign-up__close:before,
  .sign-up__close:after {
    width: 100%;
  }

  .sign-up__close {
    background: #fff;
  }
  .user-button {
    border: none;
    font-weight: 500;
    transition: height 0.5s;
  }

  .user-button:before {
    content: "Install";
  }

  /*________________________________REVIEWS________________*/
  .reviews__element {
    width: 48%;
  }
  .reviews__info-part {
    height: 60%;
  }
}

@media screen and (max-width: 600px) {
  /*_____________TOP-SECTION__________________*/
  .top-title {
    font-size: 30px;
  }

  .top-frame {
    flex-direction: column;
  }

  .top-search-button {
    font-size: 12px;
  }

  /*__________________ADVANTAGES______________________*/
  .advantages {
    padding: 25px 0 40px;
  }
  .flex-container {
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-top: 35px;
  }
  .highlight {
    display: none;
  }

  .element {
    width: 100%;
  }

  /*__________________HOMES__________________*/

  .places__flex-container {
    margin: 35px auto 0;
  }

  /*______________SIGN-UP_____________________*/

  .sign-up {
    order: 6;
  }

  .user-container {
    width: 85%;
  }
  .user-image {
    width: 100%;
  }
  .user-description h5 {
    font-size: 12px;
    font-weight: 400;
    width: 75%;
  }

  .user-button {
    font-size: 14px;
    width: 25%;
  }

  .sign-up__container {
    height: auto;
  }

  /*________________________________REVIEWS________________*/

  .reviews {
    order: 5;
    padding: 40px 0;
  }

  .reviews__info-part {
    height: 60%;
  }

  /* ________________FOOTER__________________*/
  .footer {
    padding: 40px 0;
  }
  .foot-list {
    display: none;
  }
  .foot-title {
    margin-bottom: 30px;
    text-decoration: underline;
  }

  .foot-logo-respons {
    display: block;
    margin: auto auto 40px;
  }

  .foot-groups {
    margin: 0 15%;
    gap: 4%;
    font-size: 15px;
    text-align: center;
  }
  .foot-text {
    margin-left: 20%;
    font-size: 12px;
  }
  .foot-element {
    width: 25%;
  }
  .foot-grow-element {
    width: 45%;
  }
}

@media screen and (max-width: 520px) {
  .top__menu {
    width: 24px;
    height: 2px;
  }
  .top__menu:before {
    width: 24px;
    height: 2px;
    top: -6px;
  }
  .top__menu:after {
    width: 24px;
    height: 2px;
    top: 6px;
  }

  .places__arrow {
    width: 28px;
    height: 28px;
    top: 30%;
    left: calc(100% - 20px);
  }

  .sign-up {
    margin: 0;
  }

  .user-description {
    margin: 0 8px;
  }

  .homes {
    padding: 40px 0;
  }

  .best-dest__button {
    font-size: 20px;
  }

  .hidden_1 {
    display: none;
  }

  .reviews {
    padding: 40px 0;
    background: #eaf0f9;
  }

  .reviews-account {
    width: 44px;
    height: 44px;
  }

  .reviews__score-num {
    width: 40px;
    height: 26px;
  }
  .adaptive-title-text {
    display: block;
    font-size: 18px;
  }
  .reviews__cost-layer {
    display: none;
  }

  .reviews__hostel-name,
  .reviews__hostel-location,
  .reviews__score-num,
  .user-name,
  .user-location p,
  .reviews__review p {
    font-size: 15px;
  }
  .reviews__score-p {
    font-size: 12px;
  }
  .reviews__title-text {
    display: none;
  }

  .reviews__element {
    width: 100%;
  }
  .dots {
    display: block;
  }

  .reviews__places_arrow {
    display: none;
  }
}

@media screen and (max-width: 362px) {
  /*________________TOP-SECTION______________________*/
  .top-title {
    padding-top: 40px;
  }

  .top-frame {
    padding: 12px 0;
  }
  .top-group {
    gap: 12px;
  }

  .top__destination-input {
    width: 90%;
  }

  .top-night {
    width: 16px;
  }
  .top-account {
    width: 24px;
  }
  .top-logo {
    width: 120px;
  }

  .top-apps {
    padding-top: 32px;
  }
  /*__________________ADVANTAGES______________________*/
  .element {
    width: 100%;
  }
  .title-text {
    font-size: 28px;
    padding: 0;
  }
  .text {
    font-size: 15px;
  }
  .image {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  /*__________________HOMES__________________*/

  .homes {
    padding: 40px 0;
  }

  .places__flex-container {
    font-size: 12px;
  }

  .places__label {
    padding: 4px 0;
  }

  .places__arrow {
    top: 40%;
  }

  /*______________BEST-DESTINATIONS____________________*/
  .best-dest__button {
    height: 32px;
    font-size: 19px;
  }

  /*_____________SIGN-UP____________________*/
  .user-description {
    justify-content: space-between;
  }

  .sign-up {
    padding: 0;
  }

  /* ________________FOOTER__________________*/
}
